/*NORMALIZANDO Y AGREGANDO FUENTES */

@font-face {
    font-family: 'miFuente';
    src: url('./fonts/SNPro-VariableFont_wght.ttf') format('truetype');
    
}
* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    color: white;
    font-family: 'miFuente', sans-serif;
    font-weight: 100;
}

/*NORMALIZANDO */

/*MEJORANDO LOS TITULOS */
h1, h2, h3, h4 {
    font-weight: 300;
}
/*MEJORANDO LOS TITULOS */

/*BARRA DE NAVEGACION*/
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #0D0D0D;
}
nav {
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
}
#mostrarDias {
    border: none;
    background-color: transparent;
    color: white;
    cursor:pointer;
}

nav > ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/*animacion barra de dias */
nav ul li {
    position: relative;
}
#listaDias {
    position: absolute;
    top: 100%;
    left: 0;
    
    background: #2a2a2a;
    list-style: none;
    padding: 0.5rem 0;
    border-radius: 8px;
    transform: translateY(10px);

    opacity: 0;
    pointer-events: none;

    transition: transform .4s ease, opacity .4s ease;
}

#listaDias.abierto {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
#listaDias li {
    padding: 0.5rem 1rem;
}

#listaDias li:hover {
    background-color: #3a3a3a;
}
/*animacion barra de dias */

/*BARRA DE NAVEGACION*/

/*MAIN */

main {
    flex: 1;
    padding: 1rem;
    background-color: #121212;
}

/*Primera seccion*/
#agregarTarea {
    max-height: 0;
    overflow: hidden;
    transition: 1s ease;
    background: linear-gradient(to bottom, #2a2a2a, #1d1d1d);
    box-shadow: 0px 4px 10px rgb(39, 39, 39);
    border-radius: 1rem;
}

#agregarTarea.activo {
    max-height: 70rem;
    padding: 1rem;
}
#agregarTarea input {
    background-color: rgb(202, 200, 200);
    border: none;
    border-radius: .2rem;
    padding: .2rem;   
}
#agregarTarea textarea {
    background-color: rgb(202, 200, 200);
    border: none;
    border-radius: .2rem;
    padding: .2rem;
}
#agregarTarea.activo input[type="submit"] {
    background-color: #2563eb;
    border: none;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

#agregarTarea.activo input[type="submit"]:hover {
    background-color: #1a44a0;
    transition: .3s ease;
}
.seccion-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.seccion-formulario button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 1rem;
}

.seccion-formulario button:hover {
  background-color: #1d4ed8;
}
/*Primera seccion*/

/*segunda seccion, tablero*/
.tablero {
    display: flex;
    gap: 1rem;
    height: 70vh;
}

.columna {
    background-color: #2a2a2a;
    flex: 1;
    padding: 1rem;
    box-shadow: 5px 3px 10px rgb(63, 63, 63);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 1rem;
    overflow-y: scroll;

}

.columna:hover {
    transform: translateY(-5px);
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.3);
}

.contenedor-tareas {
    display: flex;
    flex-direction: column
}

.contenedor-tareas article.tarjeta {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: rgb(199, 196, 196);
    color: black;
    margin: .5rem;
    border-radius: .5rem;

}
.contenedor-tareas article.tarjeta h4 {
    font-weight: bolder;
}
/*segunda seccion, tablero*/

/*Tercera seccion, descripcion*/

#descripcion {
    background-color: #e2e0e0;
    margin: 3rem;
    padding: 2rem;
    border-radius: .5rem;
    color: black;

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: opacity 0.3s ease, transform 0.3s ease;
}

#descripcion.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/*Tercera seccion, descripcion*/

/*footer*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form > * {
    margin: 0.5rem 0 0.5rem 0;
}
footer {
    display: flex;
    background-color: #0D0D0D;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: white;
}
footer > *{
    padding: 1rem;
}
footer section:nth-child(1) {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}
footer section:nth-child(2) {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

}
footer section:nth-child(3) {
    width: 15%;
    display: flex;
    flex-direction: column;
}

footer section:nth-child(3) > *{
    margin: .2rem;
}
/*footer*/








